.top-right-corner-section {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #ced4da;
    border-radius: 5px;
}

.button-panel {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}



.project-details-btn {
    background-color: #bcd0b0;
    border: 0 solid #e2e8f0;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.project-details-btn:hover {
    background-color: #6c9950;
    color: #fff;
}

.custom-link {
    color: #6c9950;
    text-decoration: none;
}

.team-button {
    background-color: white;
    color: #747d89;
    width: 100px;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-panel:hover {
    background-color: #567399;
    color: #fff;
}

.team-button:hover {
    background-color: #567399;
    color: white;
}

.btn-panel-modal {
    background-color: white;
    color: rgb(107, 160, 112);
    border-color: rgb(107, 160, 112);
    width: 200px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-panel-modal:hover {
    background-color: rgb(107, 160, 112);
    color: #ffffff;
}

.project-button {
    display: flex;
    background-color: #5457A1;
    color: #e6f1ff;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block;
}

.project-button:hover {
    background-color: white;
    color: #5457A1;
    border: 1px solid #5457A1;
}

.button-edit {
    background-color: #fff;
    border: 1px solid #567399;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px #617a9a;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: transform 0.3s ease-in-out;
}

.button-edit:hover {
    transform: scale(1.1);
    background-color: #567399;
    color: #fff;
}