
.trailing.clear {
    cursor: pointer;
  
    &:focus {
      color: #3b71ca;
      outline: none;
    }
  }
  .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: grey;
}
input:focus::placeholder {
    color: transparent;
  }
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.animated-button {
background-color: #494CA2;
color: white;
animation: pulse 2s infinite; 
}

.btn .btn-primary {
background-color: #494CA2;
border: #494CA2;
}
.animated-button:hover, .animated-button:focus{
background-color:#494CA2;
border-color: #494CA2;

}
